/*stili generali*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Whitney', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

main section{
    padding: 5% 0;
}

main .quarta_sezione{
    padding: 10% 0;
}

p{
    padding-top: 5%;
    line-height: 160%;
    font-size: 22px;
}

/*zona header - nav*/
.contenitore_navigazione{
    display: flex;
    background-color: rgba(37,94,233,255);
    padding: 1% 0;
}

.barra_navigazione{
    display: flex;
    flex-basis: 65%;
    margin: auto;
}

nav .logo{
    display: flex;
    align-items: center;
    flex-basis: 25%;
    padding-left: 1%;
}

nav .link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 50%;
}

.contenitore_navigazione button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 23%;
    padding: 0 1%;
    border-radius: 40px;
    border: none;
    color: rgb(29, 28, 28);
    font-weight: bold
}

a, ul, .col_1 div{
    color: white;
    text-decoration: none;
    line-height: 160%;
}

/*sezione di header*/
h1{
    font-size: 65px;
    padding-bottom: 5%;
}

.sfondo_principale{
    display: flex;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 630px;

}

.testo_sfondo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 40%;
    margin: auto;
    color: white;
}

.sfondo_principale p{
    font-size: 18px;
    text-align: center;
}

.bottoni_header{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    padding: 0 20% 5%;
}

/*sezione main*/
h2{
    font-size: 53px;
}

h3{
    font-size: 33px;
}
.prima_sezione .contenitore, .seconda_sezione .contenitore, .terza_sezione .contenitore, .quarta_sezione .contenitore{
    display: flex;
}

.prima_sezione .immagine, .seconda_sezione .immagine, .terza_sezione .immagine{
    display: flex;
    flex-basis: 50%;
    margin-left: auto;
    margin-bottom: auto;
}

.prima_sezione .testo, .seconda_sezione .testo, .terza_sezione .testo{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    padding-right: 2%;
    margin-right: auto;
    margin-bottom: auto;
}

.seconda_sezione .testo{
    margin-left: auto;
    margin-right: 0;
}

.seconda_sezione .immagine{
    margin-right: 0;
    justify-content: flex-start;
}

.download_finale{
    padding-top: 5%;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px;
}

/*immagini di main*/
.prima_sezione .immagine,.seconda_sezione .immagine, .terza_sezione .immagine{
    height: 350px;
}

/*colore sfondo di main*/
.seconda_sezione, .quarta_sezione{
    background-color: grey
}

.quarta_sezione .testo{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: 70%;
    margin: auto;
}

/*colonne footer*/
.sfondo_footer{
    background-color: rgb(37, 37, 37);
    padding-top: 1%;
}

.row{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 2%;
    
}

.col_1{
    flex-basis: calc((70% / 6) * 2);  
}

.bandiera{
    width: 25px;
    vertical-align: middle;
}

#dettagli_titolo_footer{
    color: rgba(51, 118, 243, 0.685);
    padding-right: 35%;
}

span{
    padding-right: 5%;
}

.col_2{
    flex-basis: calc(70% / 6); 
}

ul{
    color: rgba(51, 118, 243, 0.685);
    padding-top: 0;
    list-style-type: none;
}

li{
    color: white;
    text-decoration: none;
}

/*footer piè pagina*/
.sfondo_footer_fine{
    display: flex;
    background-color: rgb(37, 37, 37);
}

.contenitore_piè_pagina{
    display: flex;
    flex-basis: 70%;
    margin: auto;
    background-color: rgb(37, 37, 37);
    justify-content: space-between;
    border-top: 2px solid rgba(51, 118, 243, 0.685);
}

.logo_fine{
    align-items: center;
    margin: 1%;
}

.bottone_registrati{
    align-items: center;
    margin: 1%;
    background-color: rgba(51, 118, 243, 0.685);
}

/*pulsanti*/
button{
    padding: 2% 3%;
    border-radius: 40px;
    border: none;
    color: rgb(29, 28, 28);
}

.down_mac2{
    background-color: rgba(51, 118, 243, 0.685);
    padding: 1%;
    color: white;
}

.posizione_bottone{
    margin-top: 2%;
    text-align: center;
}

.bottone_registrati{
    margin-bottom: 2%;
    padding: 1%;
    color: white;
    align-items: center;
    background-color: rgba(51, 118, 243, 0.685);
}

button[target="pulsante_nero"] {
    background-color: rgb(29, 28, 28);
    color: white;
}

/*bonus*/
/*hover*/
.contenitore_navigazione button:hover, .sfondo_principale .down_mac:hover{
    color: rgba(37,94,233,255);
    box-shadow: 0px 0px 10px 1px black
}

a:hover{
    text-decoration: underline;
}

button[target="pulsante_nero"]:hover{
    background-color: rgb(90, 89, 89);
    box-shadow: 0px 0px 10px 1px rgb(90, 89, 89);
}

.down_mac2:hover, .bottone_registrati:hover{
    background-color: rgba(110, 154, 235, 0.685);
    box-shadow: 0px 0px 10px 1px rgb(90, 89, 89);
}